@media (max-width: 300px) {

  .img-fluid {
    width: 200px;
  }

  footer {
    height: 150px;
  }

}

@media (min-width: 800px) {

  header {
    height: 200px;
  }

  header > h1 {
    font-size: 100px;
  }

  .about-me > h2 {
    font-size: 50px;
  }

  .about-me > p {
    font-size: 20px;
  }

  footer {
    height: 150px;
  }

  footer > h3 {
    font-size: 36px;
    margin-bottom: 25px;
  }

  footer > ul > li {
    font-size: 25px;
  }

}

@media (min-width: 1200px) {

    .about-me > p {
      font-size: 30px;
      }
      
}
